html,
button,
input,
select,
textarea {
    color: #252525;
    font-family:'Helvetica Neue', Arial, sans-serif;
}

html, body {
    -webkit-font-smoothing: antialiased;
    min-height:100%;
    height:100%;
    position:relative;
}

body {
    font-size:1em;
    background: #e7e7e7;
}

html, body, ul {
    margin:0;
    padding:0;
}

*, body, button, input, textarea, select {
    text-rendering: optimizeLegibility;
    outline:0 !important;
}

p {
    font-size:14px;
    line-height:1.4;
}

h1,h2,h3,h4,h5,h6 {
    margin:0;
}

h3 {
    font-size:20px;
    text-transform: uppercase;
    font-family:'TradeGothicCondensed', 'Helvetica Neue', Arial, sans-serif;
    color:#FFF;
}

h4 {
    text-transform:uppercase;
    display:inline-block;
    font-family:'TradeGothicCondensed', 'Helvetica Neue', Arial, sans-serif;
    font-size:14.56px;
}

h1 img {
    vertical-align:top;
}

ul {
    list-style:none;
}

a {
    color:#cd2727;
    text-decoration: none;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -ms-transition: color 0.3s;
    transition: color 0.3s;
}

a:hover {
    color:#db4343;
}

.navigation {
    padding-top:49px;
    margin-bottom:-49px;
}

.navigation .nav a:hover,
.navigation .nav a {
    color:#FFF;
}

.navigation .nav.next {
    float:right;
}

.btn {
    padding:10px;
    background-color: #cd2727;
    color: #FFF;
    font-size:16px;
    display:inline-block;
    text-transform:uppercase;
    font-family:'TradeGothicCondensed', 'Helvetica Neue', Arial, sans-serif;
    font-weight:bold;
}

.btn.right-arrow {
    background-image:url(../images/btn-arrow-right.png);
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 45px;
}

.btn.left-arrow {
    background-image:url(../images/btn-arrow-left.png);
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 45px;
}

.btn:hover {
    color: #FFF;
    /*background-color: #db4343;*/

}

::-moz-selection {
    background: #cd2727;
    color:#FFF;
    text-shadow: none;
}

::selection {
    background: #cd2727;
    color:#FFF;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.wrapper {
    min-height: 100%;
    margin-top: -137px;
    padding-top: 137px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    width:1000px;
    margin:auto;
}

.content {
    background: #FFF;
    padding:31px;
    padding-bottom:80px;
}

.category-description {
    margin-bottom:20px;
}

.category-description p:first-child {
    margin-top:0;
}

.pull-right {
    float:right;
}

.banner {
    position:relative;
    overflow: hidden;
    background: #000;
}

.category.banner {
    padding:26px 0;
    background:url(../images/category-banner.png) #000 repeat-x top left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.banner h1 {
    color:#FFF;
    font-size:60.29px;
    text-transform:uppercase;
    font-weight:normal;
    line-height: 1;
    font-family:'TradeGothicBoldCondensed', 'Helvetica Neue', Arial, sans-serif;
}

.slider {
    white-space:nowrap;
    position:relative;
    background:#000;
    height:448px;
}

.slider .dots {
    position:absolute;
    right:26px;
    bottom:26px;
    z-index:10000;
}

.slider .dots .dot {
    width:12px;
    height:12px;
    border-radius:7px;
    border:solid 2px #FFF;
    background:#FFF;
    float:left;
    margin-left:10px;
    cursor:pointer;
}

.slider .dots .dot.active,
.slider .dots .dot:hover {
    border-color:#cd2727; 
}

.slider .dots .dot.active {
    background:#cd2727;
}

.slider.animate .slide {
    -webkit-transition: left 1.5s ease-in-out, opacity 0.8s ease-in-out;
    -moz-transition: left 1.5s ease-in-out, opacity 0.8s ease-in-out;
    -o-transition: left 1.5s ease-in-out, opacity 0.8s ease-in-out;
    -ms-transition: left 1.5s ease-in-out, opacity 0.8s ease-in-out;
    transition: left 1.5s ease-in-out, opacity 0.8s ease-in-out;
}

.slide {
    display: block;
    position: absolute;
    width: 1000px;
    height: 100%;
    top:0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity:.4;
}


.slide.active h2,
.slide.active .btn,
.slide.active {
    opacity:1;
}

.slide h2,
.slide .btn {
    opacity:0;
    -webkit-transition: opacity 0.8s ease-in-out 1.5s;
    -moz-transition: opacity 0.8s ease-in-out 1.5s;
    -o-transition: opacity 0.8s ease-in-out 1.5s;
    -ms-transition: opacity 0.8s ease-in-out 1.5s;
    transition: opacity 0.8s ease-in-out 1.5s;
}

.slide .btn {
    position:absolute;
    bottom:26px;
    left:26px;
}

.slide h2 {
    position:absolute;
    bottom:74px;
    left:26px;
    font-size:30px;
    padding:9px 19px;
    color:#FFF;
    max-width:25%;
    background:rgba(0,0,0,.8);
    font-weight:normal;
    font-family:'TradeGothicCondensed', 'Helvetica Neue', Arial, sans-serif;
}

header {
    background: #cd2727;
    padding: 23px 0;
    color: #FFF;
}

header a,
header a:hover {
    color:#FFF;
}

header .brand {
    float:left;
}

header .inner {
    margin-left:15px;
    border-left:solid 1px #FFF;
    padding-left:20px;
    min-height:91px;
    display: inline-block;
    vertical-align: middle;
    position:relative;
}

header .inner,
header nav {
    width: 852px;
}

header nav {
    position:absolute;
    left:20px;
    bottom:0px;
}

header nav li {
    float:left;
}

header nav a {
    display:block;
    margin-top:10px;
    margin-right:6px;
    padding-right:5px;
    border-right:solid 1px #FFF;
    font-size:14.56px;
    text-transform:uppercase;
    font-weight:bold;
    line-height:.8;
    font-family:'TradeGothicCondensed', 'Helvetica Neue', Arial, sans-serif;
}

header nav a:hover {
    
}

header nav ul li:last-child a {
    margin-right:0;
    padding-right:0;
    border-right:0;
}

header nav ul ul {
    display:none;
}

#search {
    float:right;
}

#s {
    border:0;
    background:#FFF;
    padding: 10px 16px 8px 16px;
    font-size:16.51px;
    font-family:'TradeGothicCondensed', 'Helvetica Neue', Arial, sans-serif;
    text-transform:uppercase;
}

#search-submit {
    text-indent:-9999px;
    background:url(../images/search.png) #2a2929 no-repeat center center;
    margin:0;
    padding:0;
    width:38px;
    height:38px;
    font-size:0;   
    border: 0;
    vertical-align: top;
}

footer {
    background:#252525;
    padding:48px 0px;
    color: #FFF;
    font-size:12px;
}

footer h3 {
    color: #cd2727;
    margin-bottom:15px;
}

footer p {
    margin: 0;
    font-size:12px;
    margin-bottom:20px;
    line-height:1.5;
}

footer .container {
    width:790px;
}

footer .block {
    float:left;
    margin-right:40px;
}

footer .container .block:last-child {
    margin-right:0;
}

footer .about.block {
    width:310px;
}

footer .copyright {
    text-align:center;
    font-size:9.25px;
    margin-top:60px;
}

footer .copyright a { color: #FFF; }

#masonry {
    margin-top:27px;
}

#masonry .block {
    float:left;
    width:317px;
    margin-bottom:27px;
    background:#FFF;
}

#masonry .block h3 {
    text-transform: uppercase;
    font-size:20px;
    padding:16px 20px;
    background:#252525;
    font-family:'TradeGothicCondensed', 'Helvetica Neue', Arial, sans-serif;
    background:url(../images/icons/bn-archives.png) #252525 no-repeat center left;
    padding-left: 51px;
}

#masonry .block h3.blog {
    background-image:url(../images/icons/blog.png);
    padding-left: 48px;
}

#masonry .block h3.publications {
    background-image:url(../images/icons/publications.png);
    padding-left: 46px;
}


#masonry .block h3.bn-archives {
    background-image:url(../images/icons/bn-archives.png);
    padding-left: 51px;
}

#masonry .block h3.working-paper-series {
    background-image:url(../images/icons/working-paper-series.png);
    padding-left: 43px;
}

#masonry .block h3 a {
    color:#FFF;
}

#masonry .block .posts {
    padding:18px;
}

#masonry .block .post {
    padding-bottom:19px;
    background:url(../images/post-bottom.png) repeat-x bottom left;
    margin-bottom:18px;
}

#masonry .block .posts .post:last-child {
    margin-bottom:0;
}

h2 {
    font-size:20px;
    color: #cd2727;
    margin-bottom:4px;
    font-family:'TradeGothicCondensed', 'Helvetica Neue', Arial, sans-serif;
}

#masonry .block .post p {
    margin-bottom:0;
}

#masonry .block .post img {
    float:left;
    margin:8px 18px 2px 0;
}

.post .posted {
    color: #404040;
    font-size:11px;
    margin-bottom:10px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

#masonry .block .go-to {
    margin:0 18px 18px 18px;
}

.blog .columns .column {
    float:left;
    margin-left:30px;
}

.blog .columns .column img {
    display:block;
    margin-bottom:5px;
    width:100%;
    height:auto;
}

.blog .columns .column .post {
    margin-bottom: 40px;
}

.post .post-excerpt p {
    font-size:13px;
    margin-bottom:0;
}

.blog .columns .column:first-child {
    margin-left:0;
}

.blog .columns .column:nth-child(odd) {
    width:282px;
}

.blog .columns .column:nth-child(even) {
    width: 142px;
}

.conferences .column,
.working-paper-series .column,
.publications .column {
    float:left;
    width:454px;
    margin-left:30px;
}

.conferences .columns .column:first-child,
.working-paper-series .columns .column:first-child,
.publications .columns .column:first-child {
    margin-left:0px;
}

.conferences .column.past .post,
.working-paper-series .column .post,
.publications .column .post {
    padding-bottom:20px;
    margin-bottom:20px;
    background: url(../images/post-bottom.png) repeat-x bottom left;
}

.conferences .column.past .post:last-of-type,
.working-paper-series .column .post:last-of-type,
.publications .column .post:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    background-image: none;
}

.conferences .column.upcoming .post {
    margin-bottom:40px;
}

.conferences .column.upcoming .post img {
    width:100%;
    height:auto;
    margin-bottom:20px;
}

.conferences .column.upcoming .post h2 {
    font-size:22px;
}

.conferences .column.past .post img,
.publications .post img {
    float:left;
    margin-right:20px;
    margin-bottom:10px;
    width:142px;
    height:auto;
}

.working-paper-series .post h2 {
    color: black;
    font-size: 23px;
}

.working-paper-series .post h2 a {
    color: black;
}

.working-paper-series .post .posted {
    margin-bottom:0;
}

.post .post-category {
    color: #cd2727;
    font-size:13px;
}

h3.conference-title {
    color: #252525;
    font-size: 36px;
    margin-bottom:20px;
}

.wpdmpro table {
    margin:0;
}

.wpdmpro table thead tr th {
    background: #252525;
    color: #FFF;
    font-family: 'TradeGothicCondensed', 'Helvetica Neue', Arial, sans-serif;
    font-size: 21px;
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
}

.wpdmpro table thead tr th,
.wpdmpro table tr td {
    padding:16px 20px;
    position: relative;
}

.wpdmpro table thead tr th:before {
    position:absolute;
    content:'';
    height:20px;
    border-left:solid 1px #FFF;
    margin-top:-10px;
    top:50%;
    left:0;
}

.wpdmpro table tr td:first-child:before,
.wpdmpro table thead tr th:first-child:before {
    display:none;
}

.wpdmpro table tr td {
    font-size:14px;
}

.wpdmpro table tr td,
.wpdmpro table tr td a {
    color: #313131;
}

.wpdmpro table tr:nth-child(even) {
    background: #e7e7e7;
}

.wpdmpro table tr td:first-child {
    background-image:url(../images/icons/download.png) !important;
    background-position:8px center !important;
    height:auto !important;
}

.wpdmpro table tr td:before {
    position:absolute;
    content:'';
    height:30px;
    width:1px;
    background: url(../images/border-left.png) repeat-y top left;
    margin-top:-15px;
    top:50%;
    left:0;
}

.wpdmpro table tr:nth-child(even) td:before {
    background-image: url(../images/border-left-alt.png);
}

.single .columns .column {
    float:left;
    margin-left:31px;
}

.single .columns .column:first-child {
    margin-left:0;
}

.single .columns .post.column {
    width:592px;
}

.single .columns .prev.column,
.single .columns .next.column {
    width:142px;
    min-height: 10px;
}

.single .columns .prev.column img,
.single .columns .next.column img {
    width:100%;
    height:auto;
}

.single .columns .next.column .post .post-excerpt p,
.single .columns .prev.column .post .post-excerpt p {
    font-size: 12px;
}

.post .posted

.single .columns .next.column .post .posted,
.single .columns .prev.column .post .posted {
    font-size: 12px;
}

.single .columns .post.column .post-image {
    float:left;
    margin-right:20px;
    width:283px;
    height:auto;
}

.single .columns .column img {
    margin-bottom:10px;
}

.single .columns .post.column .post-title {
    font-size:24px;
}

.post-content * {
    font-size:14px;
    line-height: 1.4;
}

.post-content h2 {
    font-size:18px;
}

.post-content dl {
    margin:30px 0;
}

.single .columns .post.column .post-content img {
    width:auto;
    max-width:100%;
    height:auto;
    display:block;
    margin:30px auto;
    float:none;
}

.post-content dl dd {
    margin: 0 0 0 20px;
    font-style:italic;
}

.post-content blockquote {
    margin:30px 0;
    padding: 0 0 0 18px;
    border-left:solid 2px #cf7272;
    color: #cf7272;
}

.post-content blockquote p {
    font-size: 20px;
    font-family: 'TradeGothicBoldCondensed', 'Helvetica Neue', Arial, sans-serif;
}

.post-content dl dt {
    color: #cd2727;
    font-size:18px;
    margin: 8px 0;
    font-family: 'TradeGothicCondensed', 'Helvetica Neue', Arial, sans-serif;   
}

.post-footer {
    margin:30px 0;
    background: #e7e7e7;
    padding:15px;
}

.post .post-social {
    float:right;
}

.post .post-social .service {
    float:left;
    margin-right:5px;
    height:20px;
}

.post .post-social .service.twitter {
    width:56px;
}

.post .post-categories {
    font-size:11px;
    margin: 30px 0;
}

.post .post-categories a:after {
    content:',';
    color: #000;
}

.post .post-categories a:last-child:after {
    display:none;
}

.sscf-input-wrapper label {
    width: 90px;
    float: left;
    font-family: 'TradeGothicCondensed', 'Helvetica Neue', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
}

.sscf-input-wrapper textarea,
.sscf-input-wrapper input {
    background: #e7e7e7;
    border: 0;
    padding: 10px;
}

.sscf-input-wrapper input {
    width: 260px !important;
}

.sscf-input-wrapper textarea {
    width: 320px !important;
    max-height:300px;
}

#sscf-submit-wrapper input {
    padding: 10px;
    background-color: #cd2727;
    margin-left: 100px;
    color: #FFF;
    border: 0;
    font-size: 16px;
    font-weight: normal !important;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'TradeGothicCondensed', 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
    background-image: url(../images/btn-arrow-right.png);
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 45px;
    -webkit-appearance: none;
}

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " "; 
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

@media only screen and (min-width: 35em) {
    
}

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/** Generated by FG **/
@font-face {
    font-family: 'TradeGothicBoldCondensed';
    src: url('fonts/trade-gothic-bold-condensed-20.eot');
    src: local('☺'), url('fonts/trade-gothic-bold-condensed-20.woff') format('woff'), 
    url('fonts/trade-gothic-bold-condensed-20.ttf') format('truetype'), 
    url('fonts/trade-gothic-bold-condensed-20.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TradeGothicCondensed';
    src: url('fonts/trade-gothic-condensed-18.eot');
    src: url('fonts/trade-gothic-condensed-18.eot') format('embedded-opentype'),
         url('fonts/trade-gothic-condensed-18.woff') format('woff'),
         url('fonts/trade-gothic-condensed-18.ttf') format('truetype'),
         url('fonts/trade-gothic-condensed-18.svg#TradeGothicLTCondEighteenRegular') format('svg');
}