html,
button,
input,
select,
textarea {
    color: #252525;
    font-family:'Helvetica Neue', Arial, sans-serif;
}

html, body {
    -webkit-font-smoothing: antialiased;
    min-height:100%;
    height:100%;
    position:relative;
}

body {
    font-size:1em;
    background: #e7e7e7;
}

html, body, ul {
    margin:0;
    padding:0;
}

*, body, button, input, textarea, select {
    text-rendering: optimizeLegibility;
    outline:0 !important;
}

p {
    font-size:14px;
    line-height:1.4;
}

h1,h2,h3,h4,h5,h6 {
    margin:0;
}

h3 {
    font-size:20px;
    text-transform: uppercase;
    font-family:'TradeGothicCondensed', 'Helvetica Neue', Arial, sans-serif;
    color:#FFF;
}

h4 {
    text-transform:uppercase;
    display:inline-block;
    font-family:'TradeGothicCondensed', 'Helvetica Neue', Arial, sans-serif;
    font-size:14.56px;
}

h1 img {
    vertical-align:top;
}

ul {
    list-style:none;
}

a {
    color:#cd2727;
    text-decoration: none;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -ms-transition: color 0.3s;
    transition: color 0.3s;
}

a:hover {
    color:#db4343;
}

.btn {
    padding:10px;
    background-color: #cd2727;
    color: #FFF;
    font-size:16px;
    display:inline-block;
    text-transform:uppercase;
    font-family:'TradeGothicCondensed', 'Helvetica Neue', Arial, sans-serif;
    font-weight:bold;
}

.btn.right-arrow {
    background-image:url(../images/btn-arrow-right.png);
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 45px;
}

.btn:hover {
    color: #FFF;
    /*background-color: #db4343;*/

}

::-moz-selection {
    background: #cd2727;
    color:#FFF;
    text-shadow: none;
}

::selection {
    background: #cd2727;
    color:#FFF;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.wrapper {
    min-height: 100%;
    margin-top: -137px;
    padding-top: 137px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    width:1000px;
    margin:auto;
}

.content {
    background: #FFF;
    padding:31px;
    padding-bottom:80px;
}

.pull-right {
    float:right;
}

.banner {
    position:relative;
    overflow: hidden;
    background: #000;
}

.category.banner {
    padding:26px 0;
    background:url(../images/category-banner.png) #000 repeat-x top left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.banner h1 {
    color:#FFF;
    font-size:60.29px;
    text-transform:uppercase;
    font-weight:normal;
    line-height: 1;
    font-family:'TradeGothicBoldCondensed', 'Helvetica Neue', Arial, sans-serif;
}

.slider {
    white-space:nowrap;
    position:relative;
    background:#000;
    height:448px;
}

.slider .dots {
    position:absolute;
    right:26px;
    bottom:26px;
    z-index:10000;
}

.slider .dots .dot {
    width:12px;
    height:12px;
    border-radius:7px;
    border:solid 2px #FFF;
    background:#FFF;
    float:left;
    margin-left:10px;
    cursor:pointer;
}

.slider .dots .dot.active,
.slider .dots .dot:hover {
    border-color:#cd2727; 
}

.slider .dots .dot.active {
    background:#cd2727;
}

.slider.animate .slide {
    -webkit-transition: left 1.5s ease-in-out, opacity 0.8s ease-in-out;
    -moz-transition: left 1.5s ease-in-out, opacity 0.8s ease-in-out;
    -o-transition: left 1.5s ease-in-out, opacity 0.8s ease-in-out;
    -ms-transition: left 1.5s ease-in-out, opacity 0.8s ease-in-out;
    transition: left 1.5s ease-in-out, opacity 0.8s ease-in-out;
}

.slide {
    display: block;
    position: absolute;
    width: 1000px;
    height: 100%;
    top:0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity:.4;
}


.slide.active h2,
.slide.active .btn,
.slide.active {
    opacity:1;
}

.slide h2,
.slide .btn {
    opacity:0;
    -webkit-transition: opacity 0.8s ease-in-out 1.5s;
    -moz-transition: opacity 0.8s ease-in-out 1.5s;
    -o-transition: opacity 0.8s ease-in-out 1.5s;
    -ms-transition: opacity 0.8s ease-in-out 1.5s;
    transition: opacity 0.8s ease-in-out 1.5s;
}

.slide .btn {
    position:absolute;
    bottom:26px;
    left:26px;
}

.slide h2 {
    position:absolute;
    bottom:74px;
    left:26px;
    font-size:30px;
    padding:9px 19px;
    color:#FFF;
    max-width:25%;
    background:rgba(0,0,0,.8);
    font-weight:normal;
    font-family:'TradeGothicCondensed', 'Helvetica Neue', Arial, sans-serif;
}

header {
    background: #cd2727;
    padding: 23px 0;
    color: #FFF;
}

header a,
header a:hover {
    color:#FFF;
}

header .brand {
    float:left;
}

header .inner {
    margin-left:15px;
    border-left:solid 1px #FFF;
    padding-left:20px;
    min-height:91px;
    display: inline-block;
    vertical-align: middle;
    position:relative;
}

header .inner,
header nav {
    width: 852px;
}

header nav {
    position:absolute;
    left:20px;
    bottom:0px;
}

header nav li {
    float:left;
}

header nav a {
    display:block;
    margin-top:10px;
    margin-right:6px;
    padding-right:5px;
    border-right:solid 1px #FFF;
    font-size:14.56px;
    text-transform:uppercase;
    font-weight:bold;
    line-height:.8;
    font-family:'TradeGothicCondensed', 'Helvetica Neue', Arial, sans-serif;
}

header nav a:hover {
    
}

header nav ul li:last-child a {
    margin-right:0;
    padding-right:0;
    border-right:0;
}

header nav ul ul {
    display:none;
}

#search {
    float:right;
}

#s {
    border:0;
    background:#FFF;
    padding: 10px 16px 8px 16px;
    font-size:16.51px;
    font-family:'TradeGothicCondensed', 'Helvetica Neue', Arial, sans-serif;
    text-transform:uppercase;
}

#search-submit {
    text-indent:-9999px;
    background:url(../images/search.png) #2a2929 no-repeat center center;
    margin:0;
    padding:0;
    width:38px;
    height:38px;
    font-size:0;   
    border: 0;
    vertical-align: top;
}

footer {
    background:#252525;
    padding:48px 0px;
    color: #FFF;
    font-size:12px;
}

footer h3 {
    color: #cd2727;
    margin-bottom:15px;
}

footer p {
    margin: 0;
    margin-bottom:20px;
    line-height:1.5;
}

footer .container {
    width:790px;
}

footer .block {
    float:left;
    margin-right:40px;
}

footer .about.block {
    width:310px;
}

footer .copyright {
    text-align:center;
    font-size:9.25px;
    margin-top:60px;
}

footer .copyright a { color: #FFF; }

#masonry {
    margin-top:27px;
}

#masonry .block {
    float:left;
    width:317px;
    margin-bottom:27px;
    background:#FFF;
}

#masonry .block h3 {
    text-transform: uppercase;
    font-size:20px;
    padding:16px 20px;
    background:#252525;
    font-family:'TradeGothicCondensed', 'Helvetica Neue', Arial, sans-serif;
    background:url(../images/icons/bn-archives.png) #252525 no-repeat center left;
    padding-left: 51px;
}

#masonry .block h3.blog {
    background-image:url(../images/icons/blog.png);
    padding-left: 48px;
}

#masonry .block h3.publications {
    background-image:url(../images/icons/publications.png);
    padding-left: 46px;
}


#masonry .block h3.bn-archives {
    background-image:url(../images/icons/bn-archives.png);
    padding-left: 51px;
}

#masonry .block h3.working-paper-series {
    background-image:url(../images/icons/working-paper-series.png);
    padding-left: 43px;
}

#masonry .block h3 a {
    color:#FFF;
}

#masonry .block .posts {
    padding:18px;
}

#masonry .block .post {
    padding-bottom:19px;
    background:url(../images/post-bottom.png) repeat-x bottom left;
    margin-bottom:18px;
}

#masonry .block .posts .post:last-child {
    margin-bottom:0;
}

h2 {
    font-size:20px;
    color: #cd2727;
    margin-bottom:4px;
    font-family:'TradeGothicCondensed', 'Helvetica Neue', Arial, sans-serif;
}

#masonry .block .post p {
    margin-bottom:0;
}

#masonry .block .post img {
    float:left;
    margin:8px 18px 2px 0;
}

#masonry .block .post .posted {
    color: #404040;
    font-size:11px;
    margin-bottom:10px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

#masonry .block .go-to {
    margin:0 18px 18px 18px;
}

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " "; 
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

@media only screen and (min-width: 35em) {
    
}

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/** Generated by FG **/
@font-face {
    font-family: 'TradeGothicBoldCondensed';
    src: url('fonts/trade-gothic-bold-condensed-20.eot');
    src: local('☺'), url('fonts/trade-gothic-bold-condensed-20.woff') format('woff'), 
    url('fonts/trade-gothic-bold-condensed-20.ttf') format('truetype'), 
    url('fonts/trade-gothic-bold-condensed-20.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TradeGothicCondensed';
    src: url('fonts/trade-gothic-condensed-18.eot');
    src: url('fonts/trade-gothic-condensed-18.eot') format('embedded-opentype'),
         url('fonts/trade-gothic-condensed-18.woff') format('woff'),
         url('fonts/trade-gothic-condensed-18.ttf') format('truetype'),
         url('fonts/trade-gothic-condensed-18.svg#TradeGothicLTCondEighteenRegular') format('svg');
}